*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 16px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  height: 95vh; }

.hero {
  background-color: blueviolet; }
  .hero__image {
    background-image: url(/img/image_6.jpg); }
