*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
  height: 95vh; }

a,
a:visited,
a:hover {
  text-decoration: none; }

button,
.button {
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #10b981; }

@media (max-width: 63.9em) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none; } }

.hero {
  background: linear-gradient(0.25turn, aqua, 50%, #89c5e1); }
  .hero nav {
    padding: 46px; }
  .hero .flex {
    display: flex; }
    .hero .flex-jc-sb {
      justify-content: space-between; }
    .hero .flex-ai-c {
      align-items: center; }
  .hero__menu > span {
    display: block;
    width: 48px;
    height: 8px;
    border-radius: 10px;
    background-color: #2d314d;
    transition: all 300ms ease-in-out;
    transform-origin: 4.4px; }
    .hero__menu > span:not(:last-child) {
      margin-bottom: 6px; }
  .hero__menu.open > span:first-child {
    transform: rotate(45deg); }
  .hero__menu.open > span:nth-child(2) {
    opacity: 0; }
  .hero__menu.open > span:last-child {
    transform: rotate(-45deg); }
  .hero__nav-links a {
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 30px;
    color: white;
    padding: 8px 20px;
    font-weight: 600;
    margin: 0 24px;
    transition: color 200ms ease-in-out; }
    .hero__nav-links a:last-child {
      background-color: #d0f9e5;
      padding: 12px 24px;
      color: #009468;
      border-color: #009468; }
      .hero__nav-links a:last-child:hover {
        background-color: #0fff50; }
    .hero__nav-links a:hover {
      background-color: #7df9ff; }
