.featured-house {
  background-color: red;
  @include breakpoint-up(large) {
    position: absolute;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: red;
    a {
      color: red;
    }
    &.btn {
      height: 35px;
      color: red;
    }
  }
  &__houses {
    background-color: red;
    margin-bottom: 50px;
  }
}
