.featured-house {
  @include breakpoint-up(large) {
    bottom: 0;
    position: absolute;
    margin-top: 120px;
  }
  &__nav {
    .nav--main-text {
      margin-left: 30px;
      .header-first {
        font-size: 12px;
        color: $color-yellow;
      }
      .header-secondary {
        margin-top: 12px;
        margin-left: 14px;
        font-size: 28px;
        font-weight: 600;
      }
    }
    .nav-items {
      text-align: center;
      margin-top: 40px;

      @include breakpoint-up(large) {
        margin-left: 50px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    a {
      border: 1px solid $color-primary;
      border-radius: 28px;
      padding: 12px 20px;
      color: $dark-green;
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        background-color: $light-green;
        padding: 12px 28px;
        border: none;
      }
    }
    .nav-buttons {
      margin-top: 40px;
      margin-bottom: 40px;

      button {
        height: 48px;
        width: 48px;
        align-items: center;
        margin-left: 10px;
        border: 1px solid $color-primary;
        background-color: $color-white;
        &:after {
          content: "\276F";
          color: $color-primary;
          font-size: 20px;
          align-items: center;
          vertical-align: middle;
        }
        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
  &__houses {
    margin-bottom: 50px;
    text-align: center;
  }
}
