.featured-house {
  @include breakpoint-up(large) {
    top: 0;
    position: absolute;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    a {
      border: 2px solid green;
      border-radius: 20px;
      padding: 8px;
      color: $dark-green;
    }
    &.btn {
      height: 35px;
    }
  }
  &__houses {
    margin-bottom: 50px;
  }
}
