.hero {
  background-color: $color-white;
  padding-top: 40px;

  &__navbar {
    align-items: center;
  }

  &__nav-menu {
    text-align: center;
    list-style-type: none;
    nav-item {
      border-radius: 5px;
    }
  }
}
