.hero {
  background-color: $color-white;
  padding-top: 46px;

  &__navbar {
    align-items: center;
  }

  &__nav-menu {
    text-align: center;
    list-style-type: none;
    nav-item {
      border-radius: 5px;
    }
  }
  &__image {
    background-image: url("/img/image_6.jpg");
    width: 720px;
    height: 720px;
  }
  .heading-primary {
    font-weight: 200;
    .green {
      color: $color-primary;
    }
  }
  .heading-primary-main {
    display: block;
    font-weight: 900;
  }
  .heading-primary-sub {
    display: block;
    font-size: 12px;
  }
  &__search {
    width: 496px;
    height: 56px;
    border-radius: 28px;
  }
  &__partnership {
    display: block;
    font-size: 12px;
  }
  &__partner-logo {
    list-style-type: none;
  }
}
