.navbar {
  background-color: $color-white;

  &.open {
    .overlay {
      opacity: 1;
      animation: fade-in 300ms ease-in-out forwards;
    }

    .navbar__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(#9fe2bf, transparent);
    animation: fade-out 300ms ease-in-out forwards;

    &.fade-in {
      display: block;
    }

    &.fade-out {
      display: none;
    }
  }

  nav {
    background-color: $color-white;
  }

  .flex {
    display: flex;
    background: url(/img/image_6.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-position: top left;
    background-size: cover;

    &-jc-sb {
      justify-content: space-between;
    }

    &-ai-c {
      align-items: center;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 48px;
      height: 8px;
      border-radius: 10px;
      background-color: $color-dark-blue;
      transition: all 300ms ease-in-out;
      transform-origin: 4.4px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 80px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    margin-top: 25px;
    padding: 26px;
    border-radius: 10px;

    a {
      display: block;
      padding: 10px;
      font-size: 20px;
      color: #097969;
      text-align: center;
    }
  }

  &__nav-links {
    a {
      font-size: $font-med;
      border-style: solid;
      border-width: 2px;
      border-color: $color-white;
      border-radius: 30px;
      color: $color-white;
      padding: 8px 20px;
      font-weight: 600;
      margin: 0 24px;
      transition: color 200ms ease-in-out;

      &:last-child {
        background-color: $light-green;
        padding: 12px 24px;
        color: $dark-green;
        border-color: $dark-green;
        &:hover {
          background-color: $neon-green;
        }
      }

      &:hover {
        background-color: $electric-blue;
      }
    }
  }
}
