// Visibility
.hide-for-mobile {
  // hide for mobile viewport width
  @include mq(xs) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport width
  @include mq(lg) {
    display: none;
  }
}

h1,
h2,
h3 {
  margin-top: 0px;
}

// Links
a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
