// Colors
$color-primary: #10b981;
$light-green: #d0f9e5;
$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 95%);
$color-dark-blue: hsl(233, 26%, 24%);
$neon-green: #0fff50;
$dark-green: #009468;
$electric-blue: #7df9ff;
$color-lightgrey: lightgrey;

// Font sizes
$font-main: 16px;
$font-med: 14px;
