// Colors
$color-primary: #10b981;
$neon-green: #0fff50;
$dark-green: #009468;
$light-green: #d0f9e5;
$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 95%);
$color-lightgrey: lightgrey;
$color-light-blue: #8cc6e1;
$color-pacific-blue: #1ca9c9;

// Font sizes
$font-main: 16px;
$font-med: 14px;
